<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>陳奕廷首頁</title>
</head>
<body>
	<a href="ABOUTME.html" target="_blank">個人簡介</a><br><br>
	<a href="https://www.104.com.tw/" target="test">104人力銀行</a><br><br>

	
		【PIG X FAMILY】 假如統神一家去演間諜家家酒的話?<br>
     <iframe 
     width="800" height="600" name="test"
     src="https://www.youtube.com/embed/wi1V1nPexUk" allowfullscreen></iframe>
				


</iframe>
</body>
</html>